# Database env (example). Copy to .env.database and fill values.
# If `DATABASE_DSN` is provided, the individual `PG*` variables below will be ignored.
DATABASE_DSN=host=postgres user=postgres password=secret dbname=cloudstackctl port=5432 sslmode=disable

PGHOST=postgres
PGUSER=postgres
PGPASSWORD=secret
PGDATABASE=cloudstackctl
PGPORT=5432
PGSSLMODE=disable
